# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book
jupyterbook-patches
download_link_replacer
# numpy


# now list the packages (and the respective url) you wish to download from the GitLab package registry
git+https://github.com/TeachBooks/Sphinx-Thebe
sphinx-launch-buttons
